<div class="address-form">

  <div class="address-form-content">
  <h6>Team Rudra <br> Open Source Maps</h6>
    <br>
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div formArrayName="addresses">
      <div *ngFor="let address of addresses.controls; let i = index" class="mb-3">
        <div class="row">
          <div class="col-12 mb-2">
            <input type="text" class="form-control" [formControlName]="i" placeholder="Enter address">
          </div>
          <div class="col-12 mb-2">
            <button (click)="removeAddress(i)" type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-2">
        <button (click)="addAddress()" type="button" class="btn btn-sm btn-outline-primary">Add Address</button>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
      </div>
      <br><br>

      <div class="col-12">
        <button *ngIf="addresses.length > 1" (click)="generateMotorablePathAndDistance()" type="button" class="btn btn-sm btn-primary">Generate Motorable Path & Distance</button>
      </div>
      <br><br><br>


      <div class="col-12">
        <button *ngIf="addresses.length > 2" (click)="generatePolygon()" type="button" class="btn btn-sm btn-primary">Generate Polygon</button>
      </div>

    </div>
  </form>

  </div>

</div>


<router-outlet></router-outlet>
  