<div class="address-form">
  <form (ngSubmit)="onSubmit()">
    <div *ngFor="let address of addresses; let i = index" class="mb-3">
      <div class="row">
        <div class="col-12 mb-2">
          <input type="text" class="form-control" [(ngModel)]="addresses[i]" name="address{{i}}" placeholder="Enter address">
        </div>
        <div class="col-12 mb-2">
          <button (click)="removeAddress(i)" type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2">
        <button (click)="addAddress()" type="button" class="btn btn-sm btn-outline-primary">Add Address</button>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
      </div>
    </div>
  </form>
  
</div>

<router-outlet></router-outlet>
  