<div class="grid">

    <app-address-form 
    (coordinates)="onCoordinatesReceived($event)" 
    (generatePolygonEvent)="onGeneratePolygon($event)"
    (generateRoutesEvent)="onGenerateRoutes($event)"
    ></app-address-form>

    <div id="map"></div>
    <div id="routing-info"></div>

    <!-- Bootstrap Modal for Routing Information -->
    <div class="modal fade" id="routingModal" tabindex="-1" aria-labelledby="routingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="routingModalLabel">Route Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="routing-info">
              <!-- Routing information will be dynamically inserted here -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  
</div>
