.grid{
    margin-left: 4vh;
    margin-right: 4vh;
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap:4vh;
}

#map {
    height: 95vh; 
    border: 0.5px solid grey;
    border-radius: 5px;
}

#routing-info .leaflet-routing-container {
    position: static !important;
    
}
  